*{
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    background-color: rgba(75, 96, 99, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo h1 {
    font-size: 24px;
    color: black;
}

.links {
    display: flex; 
    gap: 10px;
}

.navLink {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 15px; 
    color: black;
    transition: color 0.3s;
}

.icons {
    display: flex;
    gap: 15px;
}

.menuIcon {
    display: none; 
    cursor: pointer;
    font-size: 24px;
    z-index: 10; 
}


@media (max-width: 1024px) {
    .navbar {
        padding: 10px 40px; 
    }

    .navLink {
        font-size: 16px;
        padding: 10px;
    }
}


@media (max-width: 768px) {
    .navbar {
        padding: 10px 20px;
        position: relative; 
    }
   
    .menuIcon {
        display: block;
        padding: 0px 20px; 
    }
     
    .links {
        position: absolute; 
        top: 100%; 
        left: 0;
        width: 100%;
        height: 0;
        display: flex;
        flex-direction: column; 
        background-color: rgba(75, 96, 99, 0.95); 
        overflow: hidden;
        transition: height 0.3s ease-in-out;
        z-index: 5;
    }


    .links.active {
        height: auto; 
        max-height: 300px; 
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .links .navLink {
        text-align: center;
        padding: 15px 0;
        width: 100%;
        color: white; 
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    
    .icons {
        margin-left: auto;
    }
}