
:root {
    --bg-color: rgba(75, 96, 99, 0.5); 
    --text-color: #3b4249; 
    --light-text-color: #f0f0f0; 
    --link-color: #d1d6db; 
}

.footer {
    background-color: var(--bg-color);
    padding: 60px 0 20px;
    font-family: sans-serif; 
    color: var(--text-color);
}

.container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 40px; 
}

.mainContent {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}


.leftSection {
    flex-basis: 35%; 
}

.motto {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 30px;
    color: var(--text-color);
}

.socialIcons {
    display: flex;
    gap: 15px;
}

.iconCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid var(--text-color);
    border-radius: 50%;
    color: var(--text-color);
    text-decoration: none;
    font-size: 0.9rem;
    transition: background-color 0.3s, color 0.3s;
}

.iconCircle:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}


.linkColumns {
    display: flex;
    gap: 80px; /* Space between the Information, Company, Contact columns */
    flex-basis: 60%;
    justify-content: flex-end; /* Push columns to the right */
}

.columnTitle {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--text-color);
    /* Aligns the title with the links */
}

.linkList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.linkItem {
    color: var(--text-color);
    text-decoration: none;
    font-size: 0.95rem;
    line-height: 2; /* Spacing between links */
    transition: color 0.3s;
}

.linkItem:hover {
    color: var(--light-text-color); /* Highlight on hover */
}



.copyright {
    padding-top: 20px;
}

.copyright p {
    font-size: 0.8rem;
    color: var(--text-color);
    opacity: 0.7; 
}


@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }
    
    .mainContent {
        flex-direction: column;
    }

    .leftSection {
        margin-bottom: 40px;
    }

    .linkColumns {
        justify-content: space-between;
        gap: 20px;
        flex-basis: auto;
    }
}

@media (max-width: 480px) {
    .container { 
        text-align: center;
    }
    .linkColumns {
        flex-direction: column;
        
    }

    .socialIcons{
        padding-left: 95px;
    }
    
    .column {
        margin-bottom: 20px;
    }
}